*{
    margin: 0;
}
.hh .row{
    display: flex;
    justify-content: center;
}
.hh img{
    max-width: 320px;

}
.tt{
    background: rgba(100,100,100);
}
.tt .col{
    display: flex;
    justify-content: center;
}
.tt a{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Gorditas', cursive;
}
/*home*/

.aa{
    background-image: url(./img/pps.jpg);
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.a1{
    text-align: center;
    margin-top: 10  7px;
}
.a1 h2, .a1 p{
    color: rgba(255,255,255);
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding: 3px;
    margin:9px 3px ;
    text-shadow: 1px 1px 7px rgba(0,0,0);
}
.a1 a{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    padding: 4px;
    margin-top: 50px;
    color: rgba(255,255,255,1);
    text-shadow: 2px 2px 9px rgba(0,0,0);
    
    
}
/*link*/

.bb{
    background: rgba(50,50,0,0.2);
    display: flex;
    justify-content: center;
}
.bb ul{
    list-style: none;
    padding: 0;
}
.bb li{
    text-align: center;
    margin: 8px 0;
    background: rgba(240,240,240);
    padding: 10px;
}
.bb img{
    width: 100%;
    max-width: 500px;
    max-height: 230px;
    border-radius: 11px;
}
/*video*/

.cc{
    background: rgba(50,50,0,0.2); 
    color: rgba(230,230,230,1);

}
.c1{
    background: rgba(0,0,0);
    border-radius: 9px;
    padding: 8px 0;
    margin: 8px 0;     
}
.c1 iframe{
    width: 100%;
}
.c2{
    margin-left: 17px;
    min-height: auto;  
}



/*ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nn ul li{
    margin: 10px;
}
.nn{
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px){
    .nn ul li{
        flex-basis: 45%;
        flex-grow: 1;
        
    }   
}
@media (min-width: 1200px){
    .nn ul li{
        flex-basis: 30%;
        flex-grow: 1;
    }   
}*/



